# Model for Max Rural CVD

In [4]:
import pandas as pd
import numpy as np

df=pd.read_csv("CVD_Data_ (1).csv")
dff=pd.read_excel("CVD_linearRegression.xlsx")

In [5]:
df.dropna()

,State,Year,Climate_Change_Disasters,Min_Temp,Max_Temp,Average_Temp,PM2.5,Health_Quotient,HDI,Rural_Poppulation,Min_Rural_CVD,Max_Rural_CVD,Urban_Poppulation,Min_Urban_CVD,Max_Urban_CVD
0,Andhra Pradesh,2015,2,22.33,31.42,26.88,28.6,57.75,0.627,3.395143e+07,541266.571,2503357.892,1.699610e+07,169960.964,2243484.725
1,Andhra Pradesh,2016,2,22.33,31.50,26.92,28.9,60.16,0.633,3.425798e+07,546153.572,2525960.268,1.714955e+07,171495.512,2263740.752
2,Andhra Pradesh,2017,1,23.25,31.67,27.46,31.9,65.13,0.644,3.456110e+07,550986.070,2548310.572,1.730129e+07,173012.945,2283770.875
3,Andhra Pradesh,2018,0,24.92,36.70,30.81,31.8,64.17,0.646,3.486079e+07,555763.819,2570407.663,1.745132e+07,174513.187,2303574.070
4,Andhra Pradesh,2019,1,24.00,32.50,28.25,29.0,68.88,0.649,3.515703e+07,560486.623,2592250.630,1.759962e+07,175996.176,2323149.522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Puducherry,2018,0,26.92,31.00,28.96,29.8,49.26,0.736,4.921597e+05,7874.555,36419.819,1.061865e+06,10618.653,140166.217
260,Puducherry,2019,0,26.75,30.75,28.75,27.5,46.54,0.740,5.065981e+05,8105.569,37488.257,1.093017e+06,10930.169,144278.235
261,Puducherry,2020,1,26.00,30.50,28.25,26.1,47.48,0.743,5.211628e+05,8338.605,38566.046,1.124441e+06,11244.412,148426.240
262,Puducherry,2021,1,25.33,30.75,28.04,28.7,44.76,0.748,5.358466e+05,8573.545,39652.647,1.156122e+06,11561.224,152608.159
263,Puducherry,2022,0,25.03,30.75,27.89,37.0,42.04,0.751,5.383900e+05,8614.240,39840.860,1.161610e+06,11616.100,153332.520

In [6]:
df['State'].unique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar',
       'Chhattisgarh', 'Goa', 'Gujarat', 'Haryana', 'Himachal pradesh',
       'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh',
       'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland',
       'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
       'Telangana', 'Tripura', 'Uttarakhand', 'Uttar Pradesh',
       'West Bengal', 'Andaman & Nicobar islands', 'Chandigarh',
       'Dadra & Nagar Haveli & Daman & diu', 'Jammu & Kashmir',
       'Puducherry'], dtype=object)

In [7]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import pandas as pd

# Split the data into training and test sets
X = df[[ 'Climate_Change_Disasters',
       'Min_Temp', 'Max_Temp', 'PM2.5', 'Health_Quotient',
       'HDI', 'Rural_Poppulation']]
y = df['Max_Rural_CVD']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train your model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Evaluate your model on the test data
y_pred = model.predict(X_test)
r2 = r2_score(y_test, y_pred)

print('R^2 score:', r2)
mse = mean_squared_error(y_test, y_pred)

# Compute the number of independent variables in the model
n = X_test.shape[0]
p = X_test.shape[1]

# Compute the adjusted R-squared score
adjusted_r2 = 1 - ((1 - r2) * (n - 1)) / (n - p - 1)


print('Model R-squared score:', r2)
print('Model adjusted R-squared score:', adjusted_r2)

R^2 score: 0.996376547235145
Model R-squared score: 0.996376547235145
Model adjusted R-squared score: 0.9958128990272787

In [8]:
model.score(X_train, y_train)

0.998634778001987

In [9]:
model.score(X_test, y_test)

0.996376547235145

In [10]:
X_test.columns

Index(['Climate_Change_Disasters', 'Min_Temp', 'Max_Temp', 'PM2.5',
       'Health_Quotient', 'HDI', 'Rural_Poppulation'],
      dtype='object')

## Prediction on MAX CVD Rural

In [11]:
dff.columns

Index(['State', 'Climate_Change_Disasters', 'Min_Temp', 'Max_Temp', 'PM2.5',
       'Health_Quotient', 'HDI', 'Rural_Poppulation', 'Urban_Poppulation'],
      dtype='object')

In [12]:
dff1=dff[[ 'Climate_Change_Disasters', 'Min_Temp', 'Max_Temp', 'PM2.5', 'Health_Quotient', 'HDI', 'Rural_Poppulation']]

In [13]:
model.predict(dff1)

array([2.69635828e+06, 2.74371590e+06, 2.77964059e+06, 1.04515695e+05,
       1.05162661e+05, 1.05990439e+05, 2.34744131e+06, 2.38877219e+06,
       2.52154185e+06, 9.23077889e+06, 9.32787207e+06, 9.74974375e+06,
       1.87521280e+06, 1.93323900e+06, 2.00500027e+06, 4.13299564e+04,
       4.14593253e+04, 4.21895200e+04, 3.10887784e+06, 3.14820641e+06,
       3.18643012e+06, 1.46888085e+06, 1.47764597e+06, 1.47897851e+06,
       5.04018554e+05, 5.04705166e+05, 5.05428469e+05, 2.30687247e+06,
       2.34936251e+06, 2.45568725e+06, 3.20971498e+06, 3.21369567e+06,
       3.22005122e+06, 1.37598825e+06, 1.37815076e+06, 1.38000364e+06,
       4.71658904e+06, 4.74723582e+06, 4.79693287e+06, 5.13750948e+06,
       5.13802194e+06, 5.13802194e+06, 1.90901157e+05, 1.92796080e+05,
       1.95325605e+05, 2.28701490e+05, 2.28851229e+05, 2.28851229e+05,
       4.63353570e+04, 4.64562859e+04, 4.64229860e+04, 1.05290062e+05,
       1.05415891e+05, 1.05415891e+05, 2.99122490e+06, 3.02900261e+06,
       3.05143641e+06, 1.48278978e+06, 1.48263144e+06, 1.48389085e+06,
       4.56994921e+06, 4.68818297e+06, 4.69240542e+06, 3.82956618e+04,
       3.86570532e+04, 3.91454566e+04, 3.23142905e+06, 3.23142905e+06,
       3.23227714e+06, 1.86826057e+06, 1.92882262e+06, 1.97678609e+06,
       2.31649514e+05, 2.28268038e+05, 2.19946190e+05, 5.83131463e+05,
       5.86932576e+05, 5.86684195e+05, 1.31813277e+07, 1.31911045e+07,
       1.31655496e+07, 5.30918241e+06, 5.31759236e+06, 5.31544256e+06,
       1.81193551e+04, 1.72074141e+04, 1.70883212e+04, 2.35390153e+03,
       2.35390153e+03, 2.35390153e+03, 1.68413250e+04, 1.68150743e+04,
       1.87289979e+04, 8.23224287e+05, 8.22710250e+05, 8.23129010e+05,
       3.95308443e+04, 3.96751496e+04, 4.14451053e+04])

In [14]:
df['State'].unique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar',
       'Chhattisgarh', 'Goa', 'Gujarat', 'Haryana', 'Himachal pradesh',
       'Jharkhand', 'Karnataka', 'Kerala', 'Madhya Pradesh',
       'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland',
       'Odisha', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu',
       'Telangana', 'Tripura', 'Uttarakhand', 'Uttar Pradesh',
       'West Bengal', 'Andaman & Nicobar islands', 'Chandigarh',
       'Dadra & Nagar Haveli & Daman & diu', 'Jammu & Kashmir',
       'Puducherry'], dtype=object)

In [15]:
arr = np.array([2.69635828e+06, 2.74371590e+06, 2.77964059e+06, 1.04515695e+05,
       1.05162661e+05, 1.05990439e+05, 2.34744131e+06, 2.38877219e+06,
       2.52154185e+06, 9.23077889e+06, 9.32787207e+06, 9.74974375e+06,
       1.87521280e+06, 1.93323900e+06, 2.00500027e+06, 4.13299564e+04,
       4.14593253e+04, 4.21895200e+04, 3.10887784e+06, 3.14820641e+06,
       3.18643012e+06, 1.46888085e+06, 1.47764597e+06, 1.47897851e+06,
       5.04018554e+05, 5.04705166e+05, 5.05428469e+05, 2.30687247e+06,
       2.34936251e+06, 2.45568725e+06, 3.20971498e+06, 3.21369567e+06,
       3.22005122e+06, 1.37598825e+06, 1.37815076e+06, 1.38000364e+06,
       4.71658904e+06, 4.74723582e+06, 4.79693287e+06, 5.13750948e+06,
       5.13802194e+06, 5.13802194e+06, 1.90901157e+05, 1.92796080e+05,
       1.95325605e+05, 2.28701490e+05, 2.28851229e+05, 2.28851229e+05,
       4.63353570e+04, 4.64562859e+04, 4.64229860e+04, 1.05290062e+05,
       1.05415891e+05, 1.05415891e+05, 2.99122490e+06, 3.02900261e+06,
       3.05143641e+06, 1.48278978e+06, 1.48263144e+06, 1.48389085e+06,
       4.56994921e+06, 4.68818297e+06, 4.69240542e+06, 3.82956618e+04,
       3.86570532e+04, 3.91454566e+04, 3.23142905e+06, 3.23142905e+06,
       3.23227714e+06, 1.86826057e+06, 1.92882262e+06, 1.97678609e+06,
       2.31649514e+05, 2.28268038e+05, 2.19946190e+05, 5.83131463e+05,
       5.86932576e+05, 5.86684195e+05, 1.31813277e+07, 1.31911045e+07,
       1.31655496e+07, 5.30918241e+06, 5.31759236e+06, 5.31544256e+06,
       1.81193551e+04, 1.72074141e+04, 1.70883212e+04, 2.35390153e+03,
       2.35390153e+03, 2.35390153e+03, 1.68413250e+04, 1.68150743e+04,
       1.87289979e+04, 8.23224287e+05, 8.22710250e+05, 8.23129010e+05,
       3.95308443e+04, 3.96751496e+04, 4.14451053e+04])

In [16]:
arr = np.round(arr, decimals=0)
arr = arr.astype(int)

In [17]:
arr

array([ 2696358,  2743716,  2779641,   104516,   105163,   105990,
        2347441,  2388772,  2521542,  9230779,  9327872,  9749744,
        1875213,  1933239,  2005000,    41330,    41459,    42190,
        3108878,  3148206,  3186430,  1468881,  1477646,  1478979,
         504019,   504705,   505428,  2306872,  2349363,  2455687,
        3209715,  3213696,  3220051,  1375988,  1378151,  1380004,
        4716589,  4747236,  4796933,  5137509,  5138022,  5138022,
         190901,   192796,   195326,   228701,   228851,   228851,
          46335,    46456,    46423,   105290,   105416,   105416,
        2991225,  3029003,  3051436,  1482790,  1482631,  1483891,
        4569949,  4688183,  4692405,    38296,    38657,    39145,
        3231429,  3231429,  3232277,  1868261,  1928823,  1976786,
         231650,   228268,   219946,   583131,   586933,   586684,
       13181328, 13191104, 13165550,  5309182,  5317592,  5315443,
          18119,    17207,    17088,     2354,     2354,     2354,
          16841,    16815,    18729,   823224,   822710,   823129,
          39531,    39675,    41445])